<div class="col-md-6">
  <h2>Todo List</h2>
  <div cdkDropList
  #todolist="cdkDropList"
  [cdkDropListData]="todo"
  [cdkDropListConnectedTo]="[donelist]"
  class="example-list"
   (cdkDropListDropped)="drop($event)">
    <div cdkDrag class="example-box" *ngFor="let item of todo">{{item}}</div>
  </div>
</div>
<div class="col-md-6">
  <h2>Done List</h2>
  <div cdkDropList
  #donelist="cdkDropList"
  [cdkDropListData]="doneList"
  [cdkDropListConnectedTo]="[todolist]"
   class="example-list" (cdkDropListDropped)="drop($event)">
    <div cdkDrag class="example-box" *ngFor="let item of doneList">{{item}}</div>
  </div>
</div>
